# Files to be ignored by git in a DataFlex workspace

# AppHtml
**/apphtml/global.asa
**/apphtml/web.config
**/apphtml/cssthemes/
**/apphtml/dfengine/

# AppSrc
**/appsrc/**/*.prn
**/appsrc/**/*.dep
**/appsrc/**/*.exe.manifest
**/appsrc/**/*.err
**/appsrc/**/*.fld
**/appsrc/**/*.pbg
**/appsrc/**/*.pdp
**/appsrc/**/*.pkd
**/appsrc/**/*.prn
**/appsrc/**/*.prp
**/appsrc/**/*.cfg
**/AppSrc/config/classlist.xml


# Data
**/data/**/*.log
**/data/**/*.vld
**/data/**/*.bad
**/data/**/*.hdr
**/data/**/*.cch
**/data/**/*.dat
**/data/**/*.k1
**/data/**/*.k2
**/data/**/*.k3

# DDSrc
**/ddsrc/**/*.def

# IdeSrc
**/idesrc/*.dsk
**/idesrc/*.loc
**/idesrc/*.mtd

# Programs
**/programs/*.dbg
**/programs/*.exe
**/programs/*.exe.manifest
**/programs/*.log
